*{
    margin: 0px;
    padding: 0px;
}
.body12{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center ;
}

.in{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:1px solid rgba(0, 0, 0, 0.5);
    width: 500px;
    padding: 20px;
    font-size: x-large;
}
input:focus{
    outline: none
}
.firstnav11{
    background-color: #9395D3;
    color: white;
    display: flex;
    align-items: flex-end;
    align-items: center;
    height: 118px;
    justify-content: flex-start ;

}
.tooodo{
    margin-left: 80px;
}
.icons{
    font-size: 30px;
    padding: 0px;
    margin-left: 20px;
    cursor: pointer;
}
.addatadd{
    
    background-color: #9395D3;
    height: 60px;
    border: none;
    font-size: x-large;
    color: white;
    cursor: pointer;
}
.btn2,.btn1{
    background-color: #9395D3 ;
    height: 80px;
    width: 130px;
    border: none;
    font-size: x-large;
    color: white;
    border-radius: 10px;
    cursor: pointer;

}
.buttons{
    display: flex;
    gap: 290px;

}


