 span {
     margin: 0px;
 }

 .body {
     display: flex;
     flex-direction: column;
     gap: 0px;
 }

 * {
     margin: 0px;
     padding: 0px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 .firstnav9 {
     background-color: #9395D3;
     color: white;
     height: 118px;
     display: flex;
     justify-content: space-between;
     align-items: center;

 }

 .logo {
     padding-left: 20px;

 }

 .icons22 {
     font-size: 30px;
     margin-right: 20px;
 }

 .icons1 {
     margin-top: 0px;
     margin-bottom: 0px;
     font-size: 30px;
     padding: 0px;
 }

 .secondnav {
     margin: 0px;
     height: 56px;
     display: flex;
     justify-content: space-around;
 }

 .align {
     display: flex;
     flex-direction: column;
     gap: 0px;
     align-items: center;
     cursor: pointer;
 }

 .actualbody {
     background-color: #a8aac7;
     height: 100vh;
     margin: 0px;
     width: 100%;
     margin: 0px;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: -10px;
 }

 .add {
     position: fixed;
     bottom: 30px;
     right: 30px;
     background-color: #9395D3;
     height: 70px;
     width: 70px;
     border-radius: 50px;
     display: flex;
     align-items: center;
     justify-content: center;
     color: white;
     border: none;
     cursor: pointer;
     position: fixed;
 }

 ul {
     display: flex;
     gap: 10px;
     align-items: center;
 }

 .lll:hover {
     transform: scale(1.3);
 }

 .box {
     width: 90%;
     border-radius: 5px;
     display: flex;
     justify-content: center;
     gap: 70%;
     background-color: white;
     height: 90px;
     align-items: center;
     margin-top: 20px;

 }

 .box:hover {
     background-color: rgb(194, 194, 194);
     transform: scale(1.005);




 }

 .box-icons {
     color: #9395D3;
     font-size: x-large;
     cursor: pointer;
     gap: 50px;
     list-style: none;
 }

 .headings {
     display: flex;
     flex-direction: column;

     gap: 10px;
 }

 .purple {
     color: #9395D3;
 }

 .purplee {
     color: #9395D3;
     height: 100%;
     width: 150px;
     text-align: center;
 }

 .puop {
    text-align: center;
     color: #9395D3;
     height: 100%;
     width: 150px;
     font-size: large;


 }